.cgheading {
  background-color: rgb(239, 241, 241);
  color: black !important;
  h2 {
    padding: 2px 20px;
    font-weight: 500;
  }
}
.cardbtn {
  background-color: rgb(235, 222, 107);
  color: rgb(43, 42, 42);
  font-weight: 500;
  border: none;
}
